html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing: border-box;
    background-color: #f0f8ff;
}

/* header */
header, footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 10px;
    font-size: large;
    border-bottom: 1px black solid;
}
header {
    font-weight: bold;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
footer {
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}

.main-header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}
.main-header li > a {
    color: white;
    text-decoration: none;
    padding-right: 40px;
    transition: color 0.3s, text-decoration 0.3s;
}
.main-header img {
    padding-left: 0px;
    height: 60px;
    width: auto;
}
.main-header a:hover {
    text-decoration: underline;
    color: #3b82f6;
}

/* hero */
.hero {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 30px;
}
.text-and-button {
    max-width: 400px;
    padding: 50px;
    font-size: 20px;
}
.text-and-button button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid transparent;
    transition: border 0.3s, color 0.3s, background-color 0.3s;
    cursor: pointer;
}
.text-and-button button:hover {
    background-color: #1f2937;
    border: 2px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}
.image {
    max-width: 500px;
    border-radius: 50%;
}
.hero img {
    width: 70%;
    height: auto;
}

/* about */
.about {
    padding: 10px;
    margin-top: 20px;
}
.about h2 {
    text-align: center;
    color: #1f2937;
    font-size: 30px;
    margin-bottom: 20px;
}

.about .interests {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 20px;
    margin-top: 50px;
    padding-top: 10px;
}
.interests > div img {
    width: 70%;
    height: auto;
    max-width: 600px;
    border: #3b82f6 solid 4px;
    margin: 0 auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}
.interests img:hover {
    transform: scale(1.05); /* slight zoom effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* soft shadow */
  }
.interests > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    text-align: center;
    gap: 10px;
}
.interests > div .line {
    width: 70%;
    height: 2px;
    background-color: #3b82f6;
    margin-left: 50px;
}

/*quote*/
.quote {
    background-color: #b2b7bb;
    color: #1f2937;
    padding: 20px;
    padding-top: 90px;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    margin-top: 100px;
    height: 300px;
}
.quote p {
    width: 44%;
    margin: 0 auto;
    padding: 50px;
    height: 300px;
    padding-top: 80px;
}

/* Sign Up */
.sign-up {
    color: white;
}
.sign-up .container {
    background-color: rgb(85, 119, 233);
    padding: 10px;
    border-radius: 20px;
    width: 900px;
    height: 200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
}
.text h6,
.text p {
  margin: 0;
}

.sign-up .text {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.sign-up .button {
    background-color: #3b82f6;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: fit-content;
    margin-top: 70px;
    justify-content: center;

}
.sign-up button:hover {
    background-color: #2563eb;
}
.button button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    border: #f0f8ff solid 2px;
    border-radius: 10px;
}